packages/fatt/localization.xml
packages/sandbox/localization.xml
packages/tutor/localization.xml
sites/sandbox/adm_htmltemplate
sites/sandbox/uploaded_files
sites/sandboxpg/prodotti
sites/sandbox/fatturehtml
sites/sandbox/fatt_prodotto
sites/sandboxpg/async/sharedobjects
error.log
test/.idea
packages/tutor/webpages/pycon8/.vscode
sites/sandboxpg/assolutamente/ppp/kkk/ppop.html
sites/sandboxpg/maintenance/backups/sandboxpg_20181110_0942.zip
sites/sandboxpg/provecopy/ziofa/pippero.pdf
sites/sandboxpg/udenstai/ppp
instances/sandboxpg/site/_static/*
instances/sandboxpg/site/data/_users/*
*.pyc
instances/sandboxpg/site/data/_connections/*