packages/fatt/localization.xml
packages/sandbox/localization.xml
packages/tutor/localization.xml
sites/sandbox/adm_htmltemplate
sites/sandbox/uploaded_files
sites/sandboxpg/prodotti
sites/sandbox/fatturehtml
sites/sandbox/fatt_prodotto
sites/sandboxpg/async/sharedobjects
error.log
test/.idea
packages/tutor/webpages/pycon8/.vscode
packages/fatt/resources/zpreference.py
packages/fatt/webpages/test_storage_node.py
packages/fatt/webpages/ticket_fs.py
sites/sandbox_ext/fatturehtml/fattura_f14000006.html
sites/sandbox_ext/fatturehtml/fattura_f14000007.html
sites/sandbox_ext/fatturehtml/fattura_f14000008.html
sites/sandbox_ext/fatturehtml/fattura_f14000009.html
sites/sandbox_ext/fatturehtml/fattura_f14000010.html
sites/sandbox_ext/fatturehtml/fattura_f14000011.html
sites/sandbox_ext/fatturehtml/fattura_f14000012.html
sites/sandbox_ext/fatturehtml/fattura_f14000013.html
sites/sandbox_ext/fatturehtml/fattura_f15000001.html
sites/sandbox_ext/fatturehtml/fattura_f15000002.html
sites/sandboxpg/assolutamente/ppp/kkk/ppop.html
sites/sandboxpg/maintenance/backups/sandboxpg_20181110_0942.zip
sites/sandboxpg/provecopy/ziofa/pippero.pdf
sites/sandboxpg/udenstai/ppp
__pycache__
instances/sandbox/site/
instances/sandbox/data/
.vscode/
instances/sandboxpg/site/data/
instances/sandboxpg/site/
dati_cliente.xml
instances/sandboxms/site/data/
instances/sandboxms/site/
.env.compose*
instances/multishop/site/_static/
instances/sandboxmd/.DS_Store
*.pik
