version: '3.4'
services:
  sandbox:
    image: sandbox:testing
    ports:
      - "8080:8080"
    build:
      context: .
      dockerfile: ./Dockerfile
    #env_file: "./.env"
    environment:
      GNR_DB_IMPLEMENTATION : "sqlite"
      GNR_DB_HOST : ${GNR_DB_HOST:-localhost}
      GNR_DB_NAME : ${GNR_DB_NAME:-my.db}
      GNR_LOCALE: "IT_it"
      GNR_ROOTPWD: "admin"
      GNR_MAINPACKAGE : "sandbox"

    
