version: '3.4'

services:
  sandbox:
    image: sandbox
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      GNR_DB_IMPLEMENTATION : "postgres"
      GNR_DB_HOST : "host.docker.internal"
      GNR_DB_NAME : "sandboxpg"
      GNR_ROOTPWD : 'sandbox-root'
    
